
html[data-theme="dark"]{
	--lightcol1:#0b0c10;
	--wtcol:#0f1823;
	--graycol:#5f6873;
	--lightcold:#1f2833;
	--lightcol2: #2f3843;
	--blacol:#66e1ec;
	--dkcol1:#bfc8d3;
}

.adm-ctn{
    position:relative;
    width:100%;
    transition:.3s ease;
}
.adm-nav{
    position:fixed;
    width:300px;
    height:100%;
    transition:.1s ease;
    overflow:hidden;
    overflow-y:auto;
    background:var(--wtcol);
    border-left:5px solid var(--wtcol);
    z-index:100;
}
 .adm-nav.active{
    width:2.5rem;
    overbflow:hidden;
    overflowg-y:auto;
 }
 .adm-nav.active ul li:nth-child(1){
 	display:none;
 }
.adm-nav ul{
    position:absolute;
    width:100%;
    top:0;
    left:0;
}
.adm-nav ul li{
    position:relative;
    width:100%; 
    margin:5px auto;
}
.adm-nav ul li a{
    display:block;
    color:var(--dkcol1);
    padding:10px;
    white-space:nowrap;
    border-radius:20px 0 0 20px;
}

.adm-nav ul .li a:hover:before,
.adm-nav ul .li a:hover:after{
	content:"";
	width:40px;
	height:40px;
	position:absolute;
	pointer-events:none;
	right:0;
	border-radius:50%;
	z-index:-1;
}
.adm-nav ul .li a:hover:before{
	top:-40px;
	box-shadow:30px 30px 0 10px var(--blacol);

}
.adm-nav ul .li a:hover:after{
	bottom:-40px;
	box-shadow:30px -30px 0 10px var(--blacol);
}
.adm-nav ul li i{
    color:var(--blacol);
}
.adm-nav ul li:nth-child(1){
    display:block;
    background:var(--lightcold);
    padding:20px 0;
    margin-bottom:25px;
    position:relative;
    overflow:hidden;
    z-index:1;
    display:flex;
    align-items:center;
}

.adm-nav #check{
	width:0;
	height:0;
	visibility:hidden;
}
.adm-nav label{
	width:45px;
	height:20px;
	background:var(--blacol);
	border-radius:20px;
	position:relative;
	display:block;
	position:absolute;
	top:10px;
	left:70%;
	overflow:hidden;
	transition:.2s ease;
}
.adm-nav label:before { 
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 18px;
    height: 18px;
    background:var(--wtcol);
    border-radius: 50px;
    transition: 0.5s ease;
}

.adm-nav input:checked + label:before {
    left: calc(100% - 19px);
}
.adm-nav label:active:before {
    width: 35px;
}

.adm-nav ul li:nth-child(1):before{
    background:linear-gradient(-90deg, var(--wtcol), transparent);
    position:absolute;
    top:-20%;
    left:60%;
    width:100%;
    height:100%;
    transform:rotate(-45deg) translateX(-40%);
    content:"";
    z-index:-1;
}
.adm-nav ul li:nth-child(1) a{
    display:flex;
    color:var(--dkcol1);
    align-items:center;
}
.adm-nav ul li:nth-child(1) a .adm-imgbx{
	margin-right:15px;
	display:block;
	width:5rem;
	height:5rem;
	border-radius:50%;
}

html[data-theme=dark] .adm-nav ul li:nth-child(1) a img{
    filter:invert(87%);
}

.adm-nav ul li:nth-child(1) a img{
    display:block;
    width:90%;
    height:90%;
    object-fit:cover;
    filter:invert(13%);
}
.adm-nav ul li:nth-child(1) a:hover{
    background:transparent;
    color:var(--blacol);
}
.adm-nav ul li a:hover{
    background:var(--blacol); 
    color:var(--wtcol);
}
.adm-nav ul li a:hover > .fa{
    color:var(--wtcol);
}
.adm-nav ul li a i{
    width:2.5rem;
}
.main{
    position:absolute;
    width:calc(100% - 300px);
    min-height:100vh;
    background:var(--lightcol1);
    left:300px;
    transition:.1s ease;
}
.main.active{
    width:calc(100% - 2.5rem);
    left:2.5rem;
    overflow-x:hidden;
}
.main .toggle{
    position:fixed;
    text-align:center;
    cursor:pointer;
    border-radius:0 20px 20px 0;
    padding:7px 10px;
    font-size:1.5rem;
    background:var(--wtcol);
    color:var(--blacol);
    z-index:100;
}
.main .top-bar{
    width:100%;
    background:var(--lightcol1);
    padding:5px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.adm-srch{
    position:relative;
    width:400px;
}
.adm-srch form span{
    position:relative;
    width:100%;
    text-align:center;
}
.adm-srch form span .fa{
    position:absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
    padding:7px;
    color:var(--dkcol1);
    cursor:pointer;
}
.adm-srch form span input{
    outline:none;
    border-radius:20px;
    padding:10px 20px;
    padding-left:35px;
    border:none;
    box-shadow:0 0 0 1px var(--lightcold);
    background:var(--wtcol);
    color:var(--dkcol1);
    width:100%;
}

.card-box{
    position:relative;
    width:100%;
    padding:15px;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap:1rem;
}
 .card-box .card{
    position:relative;
    background:var(--wtcol);
    border-radius:3px;
    padding:20px;
    display:flex;
    cursor:pointer;
    justify-content:space-between;
    transition:.1s ease;
}
 .card-box .card .no{
    position:relative;
    font-size:2rem;
    color:var(--dkcol1);
    font-weight:500;
}
 .card-box .card .name{
    color:var(--graycol);
    white-space:nowrap;
}
 .card-box .card .icon-box{
    font-size:2.5rem;
    color:var(--blacol);  
}
.details{
    position:relative;
    padding:0 15px 20px;
    display:grid;
    grid-gap:1rem;
    width:100%;
    justify-items:center;
    grid-template-columns:2fr auto;
}
.details .orders, .details .top-sales{
    position:relative;
    padding:30px 20px;
    background:var(--wtcol);
    color:var(--dkcol1);
    border-radius:3px;
    z-index:10;
}
.details table{
    width:100%;
    border-collapse:collapse;
    margin:1rem 0 2rem;
}
.details table thead td{
    font-weight:600;
    border-top:2px solid var(--lightcol2);
    border-bottom:2px solid var(--lightcol2);
}
.details .orders table thead{
    background:var(--lightcold);
}
.details table tr td{
    padding:9px 5px;
}
.details table tbody tr td{
    font-size:.7rem;
    border-top:2px solid var(--lightcol2);
    border-bottom:2px solid var(--lightcol2);
}
.details .orders table tr td:last-child{
    text-align:right;
}
.details table tbody tr{
	cursor:pointer;
}

.details .orders table tbody tr:hover, .details .top-sales table tbody tr:hover{
    background:var(--lightcold);
}
.status{
    position:relative;
    padding:2px 4px;
    color:var(--wtcol);
    border-radius:4px;
    
}
.returned{
    background:var(--redcol);
}
.delivered{
    background:var(--grincol);
}
.processing{
    background:var(--blucol);
}
.pending{
    background:var(--warncol);
}
.top-sales .sale-imgbox{
    background:var(--lightcol1);
    width:40px;
    height:40px;
    position:relative;
    border-radius:50%;
    overflow:hidden;
}
.top-sales .sale-imgbox img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.top-sales table tr td{
    padding:7px 10px;
}
.top-sales table tr td h4{
    font-size:16px;
    white-space:nowrap;
    font-weight:500;
}
.top-sales h4 span{
    font-size:14px;
    color:var(--graycol);
}
.rec-ords-btn, .top-sales-btn{
	border:2px solid var(--blacol);
	color:var(--blacol);
	padding:7px 10px;
}
.rec-ords-btn:hover, .top-sales-btn:hover{
	border:2px solid #2f3843;
}
.rec-ords-btn:before, .top-sales-btn:before{
	height:100%;
	background:#1f2833;
}
.adm-box{
	width:100%;
	border-radius:3px;
}
.prods-ctn{
	width:100%;
	display:grid;
	grid-gap:1rem;
}
.prod-crud{
	display:grid;
	width:100%;
	text-align:center;
	grid-template-columns:repeat(3, 1fr);
	grid-gap:1rem;
}
.prod-crud div{
	padding:5px 10px;
	background:var(--wtcol);
	color:var(--dkcol1);
	border-radius:3px;
	cursor:pointer;
	transition:.1s ease;
}

.prod-crud div:hover, .card-box .card:hover{
	box-shadow:0 0 0 1px var(--dkcol1),
			   0 0 0 3px var(--lightcol2);
}
.prod-crud div i{
	font-size:1.2rem;
}
.prod-crud .add i{
	color:var(--grinalpha);
}
.prod-crud .edit i{
	color:var(--blualpha);
}
.prod-crud .del i{
	color:var(--redalpha);
}

.prod-crud .del:hover > span i{
	color:var(--redcol);
}
.prod-crud .add:hover > span i{
	color:var(--grincol);
}
.prod-crud .edit:hover > span i{
	color:var(--blucol);
}

.prods{
	width:100%;
	background:var(--wtcol);
}
.adm-ctn .form{
	border:none;
}
.adm-ctn .field .inp{
	box-shadow:0 0 0 1px var(--lightcol2);
	color:var(--dkcol1);
}
.adm-ctn .field label{
	color:var(--lightcol2);
}

.adm-ctn .field .inp:focus,
.adm-ctn .field .inp:valid,
.adm-ctn .field .inp:hover
{
    box-shadow:0 0 0 1px var(--dkcol1),
   			   0 0 0 3px var(--lightcold);
}

.adm-ctn .field .inp:focus ~label,
.adm-ctn .field .inp:valid ~ label,
.adm-ctn .field .inp:hover ~ label
{
    color:var(--dkcol1);
}

.adm-ctn .form .send button{ 
	background:var(--lightcold);
	border:none;
	color:var(--blacol);
}

.adm-ctn .form .send button:hover{
	color:var(--wtcol);
}
.adm-ctn .form .send button:before{
    background:var(--blacol);
}

.itemCol{
	position:absolute;
	right:20px;
	height:19px;
	width:70px;
	top:50%;
	pointer-events:none;
	transform:translateY(-50%);
	display:inline-block;
}
.img-prev{
	position:absolute;
	right:5px;
	top:50%;
	pointer-events:none;
	transform:translateY(-50%);
	height:40px;
	width:40px;
	overflow:hidden;
}
.form .field .dd, .adm-ctn .form .field .dd{
	box-shadow:0 0 0 1px var(--redcol),
	0 0 0 4px var(--lightcol1);
}

.form .field .dd + label, .adm-ctn .form .field .dd + label{
	color: var(--redcol);
}