
.drop-ctn{
	cursor:pointer;
	height:100%;
	position:relative;
}

.acc-drop li a{
	display:block;
	font-size:.9rem;
	padding:.5rem 4rem .5rem 1rem;
	color:var(--blacol);
	white-space:nowrap;
	transition:.1s;
}
.acc-drop li a:hover{
	background:var(--admhvcol);
	color:var(--wtcol);
}
.acc-drop{
	position:absolute;
	right:0;
	padding:1rem 0 .5rem;
}
.acc-drop-active{
	pointer-events:none;
}
.acc-drop-active .acc-drop{
	pointer-events:auto;
}
.acc-drop:before{
	position:absolute;
	top:0;
	right:10px;
	background:var(--lightcol1);
	border-top:1px solid var(--dkcol3);
	border-left:1px solid var(--dkcol3);
	content:"";
	transform:translateY(-50%) rotate(45deg);
	height:10px;
	width:10px;
	z-index:;
}
.drop{
	display:inline-block;
	width:0;
	height:0;
	margin:0 5px;
	border:5px solid transparent;
	border-top:5px solid var(--wtcol);
}

.sigcon{
	width:25px;
	height:25px;
	position:relative;
	display:block;
	margin-left:1rem;
	cursor:pointer;
}
.sigcon span{
	display:inline-block;
	position:absolute;
}
.srch span{
	border:2px solid var(--wtcol);
	width:75%;
	height:75%;
	left:0;
	top:0;
	border-radius:50%;
}
.signed {
	display:none;
}
.auth .signed{
	display:block;
}
.auth .unsigned{
	display:none;
}
	
.srch:before {
	width:2px;
	height:50%;
	bottom:0;
	position:absolute;
	background:var(--wtcol);
	right:0;
	transform-origin:bottom;
	transform:rotate(-45deg);
	content:"";
}

.cart span{
	border:2px solid var(--wtcol);
	width:85%;
	height:80%;
	left:50%;
	bottom:0;
	transform:translateX(-50%);
}
.cart span:before{
	width:50%;
	height:50%;
	background:var(--yellcol);
	top:-35%;
	right:-35%;
	display:none;
	position:absolute;
	box-shadow:0 0 0px 1px var(--dkalpha2);
	border-radius:50%;
	content:"";
}

.bag .cart span:before{
	display:block;
}

.cart:before {
	width:25%;
	height:30%;
	top:0;
	left:50%;
	transform:translateX(-50%);
	position:absolute;
	border:2px solid var(--wtcol);
	border-radius:20px 20px 0 0;
	border-bottom:none;
	content:"";
}
.anony span{
	border:2px solid var(--wtcol);
	width:85%;
	height:calc(70% - 3px);
	left:50%;
	bottom:0;
	transform:translateX(-50%);
	border-radius:20px 20px 0 0;
	border-bottom:none;
}

.anony:before {
	width:30%;
	height:30%;
	top:0;
	left:50%;
	transform:translateX(-50%);
	position:absolute;
	border:2px solid var(--wtcol);
	border-radius:50%;
	content:"";
}

.srch-ctn, .drop-ctn{
	display:flex;
	align-items:center;
	justify-content:center;
}

.srch-box{
	width:90%;
	max-width:750px;
	position:fixed;
	display:flex;
	flex-direction:column;
	overflow:hidden;
	align-items:center;
	justify-content:center;
	z-index:100;
}
.srch-box form:before{
	width:100%;
	height:2px;
	background:var(--dkcol2);
	bottom:0;
	content:"";
	position:absolute;
	transform:scaleX(0);
	transition:transform .2s .2s ease;
	z-index:2;
}

.desk-store-menu, .acc-drop, .srch-box{
	top:0;
	opacity:0;
	visibility:hidden;
	border-radius:5px;
	border:1px solid var(--dkcol3);
	background:var(--lightcol1);
	transition:all .3s ease;
}

.drop-items:hover > .desk-store-menu, .acc-drop-active .acc-drop, .srchblock{
	transform:translateY(3rem);
	visibility:visible;
	opacity:1;
	box-shadow:1px 1px 10px var(--dkalpha2);
	transition:opacity .3s ease, transform .3s ease;
}

.srchblock form:before{
	transform:scaleX(1);
}

.srch-box form .srchclose{	
	height:100%;
	width:40px;
	color:var(--blacol);
	text-align:center;
	font-size:1.5rem;
	line-height:3rem;
	background:var(--wtcol);
	right:0;
	top:0;
	cursor:pointer;
	position:absolute;
	display:inline-block

}
.srch-box form{
	width:100%;
	height:3rem;
	position:relative;
	display:grid;
	grid-template-columns:70px auto;
	border-radius:5px;
}
.srch-box form input, .srch-box form button{
	padding:10px 5px;
	outline:none;
	border:none;
}
.srch-box form button{
	background:var(--lightcold);
}

#srchsubmit div span{
	border:2px solid var(--blacol);
}
#srchsubmit .srch:before{
	background:var(--blacol);
	width:2px;
}

.srch-results-box{
	width:100%;
	height:100%;
	max-height:calc(100vh - 7rem);
	position:relative;
	display:grid;
	overflow:hidden;
	overflow-y:scroll;
	grid-template-columns:repeat(4, 1fr);
}
.srch-results-box .srch-result-ctn{
	border-radius:5px;
	display:grid;
	margin:10px;
	cursor:pointer;
	position:relative;
}
.srch-result-ctn .srch-banner{
	position:absolute;
	top:0;
	left:0;
	background:var(--lightcol2);
	z-index:1;
	width:100%;
	height:100%;
}
.srch-result-ctn .srch-result-imgbx{
	height:130px;
	width:100%;
	border-radius:4px;
	overflow:hidden;
	position:relative;
}
.srch-result-ctn .srch-result-imgbx a{
	position:relative;
	height:100%;
	width:100%;
	display:block;
	background:var(--lightcol2);
}
.srch-result-ctn .srch-result-imgbx a img{
	height:100%;
	width:100%;
	object-fit:cover;
	display:block;
}
.srch-result-ctn .srch-result-desc{
	padding-top:20px;
	font-size:.85rem;
	position:relative;
	overflow:hidden;
	word-wrap:break-word;
}
.top-hr{
	border-top:2px solid var(--lightcold);
}
.srch-result-ctn .srch-result-desc p{
	padding-top:5px;
	color:var(--dkcol3);
}
.srch-results-box .srch-link{
	text-align:center;
	display:flex;
	align-items:flex-end;
	padding:20px;
}
.srch-results-box .srch-link a{
	display:block;
	padding:7px 15px;
	font-size:.9rem;
	font-weight:bold;
	bottom:0;
	border-radius:3px;
	border:2px solid var(--blacol);
	color:var(--blacol);
}
.srch-results-box .srch-link a:hover{
	background:var(--lightcol3);
}

.sign-in{
	width:100vw;
	height:100vh;
	background:var(--lightcol1);
	position:relative;
	overflow:hidden;
	z-index:10;
}
.sign-up{
	background:var(--lightcol1);
	position:relative;
	overflow:hidden;
	padding:2rem 1rem;
	z-index:10;
}

.cl-sign-in{
	background:var(--wtcol);
}
.frm-box h2 {
	font-weight:lighter;
	margin:1rem 0;
	text-align:center;
}
.adm-sign-in:before, .adm-sign-in:after, .sign-up:before, .sign-up:after{
	position:absolute;
	content:"";
	width:100%;
	height:100%;
	top:0;
	transform:skew(-30deg);
	z-index:-1;
}
.adm-sign-in:before, .sign-up:before{
	left:50%;
	background:linear-gradient(var(--lightcol2), transparent, transparent);
}

.adm-sign-in:after, .sign-up:after{
	right:50%;
	background:linear-gradient(0deg, var(--lightcol2), transparent, transparent);
}
.signup-ctn{
	position:relative;
	width:100%;
	height:100%;
	display:flex;
	margin:3rem auto;
	justify-content:center;
	align-items:center;
}
#prl-ctn{
	width:100%;
}
#prl-ctn .form .pmsg{
	font-size:.8rem;
	color:var(--dkcol2);
}
.prlnk{
	width:100%;
	margin:20px auto;
	border-radius:3px;
	border:2px solid var(--lightcol1);
	box-shadow:0 0 0 1px #abc;
	text-align:center;
}
.sign-in .sign-in-ctn{
	position:relative;
	width:100%;
	height:100%;
	overflow-y:auto;
	padding:1rem;
	display:flex;
	justify-content:center;
	align-items:center;
}
.frm-box .sign-in-form{
	border-radius:5px;
	padding:1rem;
}
.p-fgt .form,
.p-fgt .sgnuprdr{
	box-shadow:0 0 0 1px #abc;
}
.p-fgt .sgnuprdr p{
	font-size:.8rem;
	font-weight:bold;
}
.cl-sign-in .frm-box .form{
	box-shadow:0 0 0 1px var(--lightcol2);
}

.cl-sign-in .frm-box{
	box-shadow:none;
}
.sgnuprdr{
	margin:1.5rem 0;
	padding:1rem;
	width:100%;
	font-size:.9rem;
	border-radius:5px;
	box-shadow:0 0 0 1px var(--lightcol2);
}
.signupli p{
	font-size:.8rem;
	color:var(--graycol);
}
.sgnuprdr p a, .sgnupli p a, .sign-err a{
	color:#3484F0;
}
.sgnupli{
	width:100%;
	font-size:.7rem;
	margin-top:15px;
}
.sgnupli ul{
	display:flex;
	margin-top:2rem;
	align-items:center;
	justify-content:center;
	font-size:.8rem;
}
.sgnupli ul li{
	padding:0 10px;
}
.sgnupli ul li a{
	color:var(--graycol);
	display:inline-block;
}
.signup-ctn .frm-box{
	max-width:650px;
}
.frm-box.p-fgt{
	max-width:500px;
}
.frm-box,.check-in-frm{
	padding:2rem 1rem;
	background:var(--wtcol);
	width:100%;
	position:relative;
	max-width:350px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	border-radius:3px;
	box-shadow:0 0 0 1px var(--lightcol2);
	margin:auto;
}
.field .fa{
	color:var(--graycol);
}
.field #ptt{
	pointer-events:auto;
	cursor:default;
}
.field .inp:focus ~ .fa,
.field .inp:valid ~ .fa{
	color:var(--blacol);
}
 
.sign-in-form .field .fa{
	position:absolute;
	right:1rem;
	top:50%;
	pointer-events:none;
	transform:translateY(-50%);
}
.sign-in-form .sign-a{
	width:100%;
	text-align:right;
}

.sign-a a{
	color:#3484F0;
	font-size:.85rem;
}
.sign-a a:hover{
	color:var(--blucol);
}
.sign-in .send, .sign-up .send{
	width:100%;
}

.sign-up .send button{
	width:50%;
}
.sign-in .send button{
	width:100%;
}

.lg-ctn{
	width:4rem;
	height:4rem;
	margin:auto;
	margin-bottom:1rem;
	display:flex;
	box-shadow:0 0 0 1px #ddd;
	background:var(--lightcol1);
	align-items:center;
	justify-content:center;
	border-radius:50%;
}
.lg-ctn img{
	width:85%;
	height:85%;
}
.lg-ctn svg{
	width:85%;
	height:85%;
}
.msgs-ctn{
	width:100%;
	font-size:.8rem;
}

.field .inp ~ .check{
	display:none;
}
.field .inp:valid ~ .check{
	display:inline-block;
}
.check{
	width:1rem;
	height:1rem;
	display:inline-block;
	background:url(../imgs/check.svg) no-repeat;
	background-position:center;
	background-size:170%;
}
.sign-err,
.npscc{
	background:#a003;
	width:100%;
	box-shadow:0 0 0 1px var(--redcol);
	padding:1rem;
	font-size:.8rem;
	border-radius:3px;
	margin:1rem 0;
}
.npscc{
	background:#14dc3c33;
	box-shadow:0 0 0 1px var(--grincol);
}
.pwrd-err,
.pres-err1,
.pres-err2{
	font-size:.8rem;
	text-align:center;
	position:relative;
}
.pres-err1,
.pres-err2{
	margin-top:10px;
}
.pwrd-err span,
.pres-err1 span,
.pres-err2 span{
	color:var(--redcol);
	padding:0 0 7px 0;
	display:inline-block;
}
.pwrd-err span p,
.pres-err1 span p,
.pres-err2 span p{
	color:var(--grincol);
}
.pwrd-err p{
	text-align:left;
}
.form .field .inp.dd{
	box-shadow:0 0 0 1px var(--redcol),
	0 0 0 4px var(--lightcol1);
}

.form .field .inp.dd + label{
	color: var(--redcol);
}
.verf-ctn .sign-in-ctn .frm-box{
	padding-top:10px;
}
.order-info p{
	font-size:.8rem;
}
.order-info p .oas{
	font-weight:bold;
}
.frm-box .verd, .order-info .order-confrm{
	background:#22c35033;
	text-align:center;
	padding:8px;
	color:var(--dkcol2);
	margin:10px 0;
	box-shadow:0 0 0 1px var(--grincol);
	border-radius:3px;
	width:100%;
}
.verf-ctn .sign-in-ctn .frm-box .lg-ctn{
	margin:15px auto;
}

.verf-ctn .sign-in-ctn .frm-box p{
	text-align:center;
	font-size:.8rem;
	padding:1rem;
}
.verf-ctn .sign-in-ctn .frm-box .frm-ctn{
	box-shadow:0 0 0 2px var(--lightcol1);
	width:100%;
	border-radius:3px;
	margin:10px 0;
}
.frm-box .verform{
	width:100%;
	padding:1rem;
	displcay:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-around;
}
.frm-box .verform .ver-field{
	text-align:center;
	display:inline-block;
	position:relative;
	padding:10px;
	left:50%;
	width:150px;
	transform:translateX(-50%);
}
.verform .ver-field input{
	outline:none;
	border:none;
	display:block;
	padding:8px 0;
	width:100%;
	white-space:nowrap;
	overflow:hidden;
	letter-spacing:18px;
	font-size:1.5rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number]{
	-moz-appearance: textfield;
}
.ver-field .dit-u{
	width:100%;
	display:flex;
}
.ver-field .dit-u span{
	width:20px;
	height:3px;
	display:block;
	margin-right:10px;
	border-radius:20px;
	background:var(--lightcol3);
}
.ver-field input:focus ~ .dit-u span,
.ver-field input:valid ~ .dit-u span{
	background:var(--dkcol3);
}
.verform .verf-send{
	width:100%;
	position:relative;
	margin:20px auto;
	overflow:hidden;
}
.verform .verf-btn{
	width:100%;
	display:block;
	padding:10px;
	position:relative;
	border-radius:3px;
	background:#20b145;
	color:var(--wtcol);
	outline:none;
	height:40px;
	font-family:CentGot;
	border:none;
}
.verform .verf-btn:hover{
	background:var(--grincol);
}
.verf-ctn .sgnupli ul li a{
	font-size:.7rem;
}
#items .cart-items{
	width:100%;
	max-width:900px;
}
.cart-pg, .checkout-pg{
	padding:1rem 0;
	position:relative;
}
.checkout-pg .check-out .link{
	margin:10px;
	padding:8px 0;
}
#msc-ctn .checkouts{
    width:100%;
    padding:0;
    position:relative;
}

.checkout-pg{
	display:flex;
	width:100%;
	flex-direction:row-reverse;
	align-items:stretch;
	height:100%;
	position:relative;
	justify-content:space-between;
}
.checktb{
	width:100%;
	padding:1rem 0.5rem;
	margin:0 auto 1rem;
}
 .check-form .ctcinfo{
	width:100%;
	margin-bottom:1rem;
	text-align:left;
}
.check-form p{
	color:var(--dkcol1);
	margin:1rem 0;
}
.check-form p a, p a{
	color:var(--blucol);
}
table{
	border-collapse:collapse;
	width:100%;
}
.cart-pg table thead tr td, .cart-pg table tbody tr:last-child td{
	padding-left:15px;
	padding-right:15px;
}

.checkout-pg table thead tr td,
.checkout-pg table tbody tr:last-child{
	box-shadow:0 2px 0 0 var(--lightcol2),
			   0 -2px 0 0 var(--lightcol2);
	font-weight:bold;
	font-size:1rem;
}
.checkout-pg table thead tr,
.checkout-pg table tbody tr:last-child{
	background:var(--lightcold);
}

.cart-pg table tbody tr:nth-child(2n - 1){
	background:var(--lightcol1);
}
.cart-pg table tbody tr:last-child{
	background:var(--yellcol);
}

.cart-pg table thead tr, .cart-pg table tbody tr:last-child{
	font-weight:bold;
	font-size:1rem;
	box-shadow:0 1px 0 0 var(--lightcol2),
			   0 -1px 0 0 var(--lightcol2);
}
.cart-pg table tbody,
.checkout-pg table tbody{
	font-size:.8rem;
}
.cart-pg table tr .td-img,
.checkout-pg table tr .td-img{
	display:inline-block;
	position:relative;
	background:var(--lightcold);
	border-radius:5px;
}

.cart-pg table tr .td-img{
	width:80px;
	height:80px;
}
.cart-er{
	display:flex;
	height:100vh;
	padding:0 1rem;
	wridth:100%;
	position:relative;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}

.cart-er p,
.cart-er .link{
	margin:10px 0;
	text-align:center;
	word-wrap:break-word;
}
.checkout-pg table tr .td-img{
	width:60px;
	height:60px;
}
.add-sub-cart{
	display:flex;
	text-align:center;
	margin:15px auto;
}
.add-sub-cart a{
	background:var(--lightcold);
	box-shadow:0 0 0 1px var(--lightcol2);
	color:var(--blacol);
	width:20px;
	height:20px;
	font-weight:bold;
	padding:2px 6px;
	display:inline-block;
	border-radius:50px;
}
.add-sub-cart span{
	color:var(--blacol);
	font-weight:bold;
	margin:auto 8px;
}
.remove-cart{
	background:var(--lightcol1);
	color:var(--blacol);
	display:inline-block;
	box-shadow: 0 0 0 1px var(--lightcold);
	padding:6px 8px;
}
.add-sub-cart a:hover,
.remove-cart:hover{
	background:var(--lightcol2);
}

.cart-pg table tr td{
	padding:1rem .5rem;
}
.checkout-pg table tr td{
	padding:.5rem;
}
.cart-pg table tr td p{
	padding:8px 0;
	color:var(--dkcol2);
}
.cart-pg table tr td:last-child{
	text-align:right;
}
.td-img img{
	border-radius:5px;
}

.fqnty{
	position:absolute;
	background:var(--dkcol2);
	padding:3px 7px;
	color:var(--wtcol);
	right:-8px;
	top:-8px;
	font-size:.8rem;
	font-weight:bold;
	border-radius:20px;
	z-index:1;
}
.check-out{
	margin:40px 0;
	display:flex;
	width:100%;
	align-items:center;
	justify-content:space-between;
}
.check-out .link, 
.cart-er .link{
	padding:9px 0;
	display:inline-block;
	text-align:center;
	width:15rem;
	height:40px;
	border:2px solid var(--blacol);
}
.shop-lnk,
.prlnk{
	color:var(--blacol);
	background:var(--wtcol);
	z-index:1;
}

.shop-lnk:before,
.prlnk:before{
	height:100%;
	background:var(--blacol);
}

.shop-lnk:hover,
.prlnk:hover{
	color:var(--wtcol);
}
.order-info{
	background:var(--wtcol);
	padding:2rem 1rem;
}
.order-info h3, .order-info p{
	padding-top:.3rem;
	padding-bottom:.3rem;
}
.order-info .order-detail{
	box-shadow:0 0 0 2px var(--dkcol3);
	border-radius:5px;
	padding:1rem;
	margin-bottom:1rem;
}
.order-info .order-confrm{
	border-radius:5px;
}
.check-out-lnk{
	color:var(--wtcol);
	background:var(--blacol);
	z-index:2;
}

.check-out-lnk:before{
	height:100%;
	background:var(--wtcol);
}

.check-out-lnk:hover{
	color:var(--blacol);
}
.check-sign .check-in{
	visibility:visible;
}
.check-in{
	position:fixed;
	width:100vw;
	height:100vh;
	visibility:hidden;
	background:var(--dkalpha);
	z-index:900;
}
.check-in-ctn{
	width:100%;
	height:100%;
	display:flex;
	padding:1rem;
	align-items:center;
	justify-content:center;
	overflow-y:auto;
}
.check-in-frm{
	background:var(--wtcol);
	border-radius:5px;
	opacity:0;
	box-shadow:0 0 15px var(--dkalpha2);
	transform:translateY(-70px);
	transition:.3s ease;
}
.check-sign .check-in-frm{
	opacity:1;
	transform:translateY(0);
}
.check-in-frm .check-in-frm-close{
	position:absolute;
	top:0;
	right:0;
}
.check-in-frm .check-in-frm-close a{
	color:var(--blacol);
	font-size:2.5rem;
	padding:0 10px;
}

.ar{
	text-align:right;
}
.al{
	text-align:left;
}
.ac{
	text-align:center;
}
table tr td .p,
table tr td .i,
table tr td .d,
table tr td .c{
	color:white;
	padding:5px 7px;
	display:inline-block;
	border-radius:5px;
	font-weight:bold;
}
.c{
	background:var(--redcol);
}
.p{
	background:var(--warncol);
}
.i{
	background:var(--blucol);
}
.d{
	background:var(--grincol);
}
.orders-list-pg{
	padding-top:1rem;
	position:relative;
	width:100%;
}

.orders-struct-ctn{
	width:100%;
	background:#fff;
}
.orders-struct-ctn.uinfo-struct{
	display:flex;
	align-items:center;
	justify-content:space-between;
	width:100%;
}
.orders-struct-ctn.uinfo-struct .struct-list{
	width:47%;
}
.orders-struct-ctn .struct-list{
	height:40px;
	margin-bottom:20px;
}
.toggle-order-list{
	width:0;
	height:0;
	display:inline-block;
	margin:auto 7px;
	border:4px solid transparent;
	border-top:4px solid #000;
	transition:transform .3s ease;
}

.order-list table tbody{
	font-size:.7rem;
}
.order-list table thead tr{
	background:#ddd;
	color:#333;
}

.open{
	cursor:pointer;
}
.open:nth-child(4n -1){
	background: #eee;
}
.order-list table tbody tr.opened td{
	background: #91867e;
}
.order-list table tbody tr.opened td .toggle-order-list{
	transform:rotate(-180deg);
}
.order-list table .open td{
	padding:7px 0;
	transition:background .2s ease;
}
.order-list table thead th{
	padding:8px 0;
}

.order-list table tbody .fold{
	box-shadow:0 0 2px 0 #aaa;
}
.order-list table tbody .fold td{
	padding:0 1rem;
}

.order-list table tbody tr.fold .items{
	max-height:0;
	transform:scaleY(0);
	transform-origin:50% 0;
	overflow:hidden;
	transition:all .3s ease;
}
.order-list table tbody tr.unfold .items{
	max-height:500px;
	transform:scaleY(1);
}
.order-list .items table,
.order-list table,
.order-list .items table tr td table{
	border-collapse:collapse;
	width:100%;
	font-size:.8rem;
	margin:20px 0;
}

.order-list .items table tr td table thead tr{
	background:none;
	font-weight:bold;
}
.ordid p{
	padding:5px 0;
	border-radius:5px;
	background:var(--lightcold);
}

.order-list .fold .items table tr td table tbody tr td p{
	color:#fff;
	padding:7px;
}

.order-list .fold .items table tbody .lc{
	border-top:2px solid #eee;
	border-bottom:2px solid #eee;
	font-weight:bold;
}
.order-list .fold .items table tr td:last-child{
	text-align:right;
}
.order-list .fold .items table tr td .td-img{
	width:50px;
	height:50px;
	margin-right:10px;
	display:inline-block;
	position:relative;
	background:var(--lightcold);
	border-radius:5px;
}
	
.order-list .fold .items table tr td{
	padding:7px 0;
}
.order-list .fold .items table tr td p{
	padding:8px 0;
	color:#555;
}
 .order-list .fold .items table tr td .td-img img{
	width:100%;
	height:100%;
	object-fit:cover;
	display:block;
	border-radius:5px;
}
.order-list .fold .items .fqnty{
	position:absolute;
	background:#888;
	box-shadzow:0 0 0 2px #fff;
	padding:3px 7px;
	color:#fff;
	right:-8px;
	top:-8px;
	font-size:.7rem;
	font-weight:bold;
	border-radius:20px;
}
